{% load static %}

{% block content %}
<div class="brand-container">
    <img src="{% static 'images/bg2.jpg' %}" class="brand-bg" />
    <div class="brand-title-container">
        <h1 class="brand-title">Kraftomania</h1>
        <p class="brand-desc">"Bo życie jest zbyt krótkie, żeby pić kiepskie piwo"</p>
    </div>
    <div class="brand-navbar-container">
        {% include 'components/navbar.html' %}
    </div>
    <div class="top-login-box">
      <a href="#" type="button">Login</a>
      <a href="/members/register" type="button">Rejestracja</a> 
    </div>
    <div class="big-search-box">
        <form id="big-search-form">
            <input type="text" placeholder="Szukaj" />
            <button type="submit" class="search-btn">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
  
</div>

{% endblock %}