<div class="main-nav-wrapper">
    <ul class="nav justify-content-center main-nav">
        <li class="nav-item">
            <a class="nav-link">Browary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Piwa</a>
        </li>
        <li class="nav-item">
            <a href={% url 'articles'%} class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Wydarzenia</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link">Sklep</a>
        </li>
        
    </ul>
</div>